<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuminsoft.ams.system.dao.approve.ApprovalHistoryMapper">
	<resultMap id="BaseResultMap" type="com.yuminsoft.ams.system.domain.approve.ApprovalHistory">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="created_by" property="createdBy" jdbcType="VARCHAR" />
		<result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
		<result column="last_modified_by" property="lastModifiedBy" jdbcType="VARCHAR" />
		<result column="last_modified_date" property="lastModifiedDate" jdbcType="TIMESTAMP" />
		<result column="loan_no" property="loanNo" jdbcType="VARCHAR" />
		<result column="approval_all_debt_rate" property="approvalAllDebtRate" jdbcType="DECIMAL" />
		<result column="approval_apply_limit" property="approvalApplyLimit" jdbcType="DECIMAL" />
		<result column="approval_apply_term" property="approvalApplyTerm" jdbcType="VARCHAR" />
		<result column="approval_check_income" property="approvalCheckIncome" jdbcType="DECIMAL" />
		<result column="approval_debt_tate" property="approvalDebtTate" jdbcType="DECIMAL" />
		<result column="approval_limit" property="approvalLimit" jdbcType="DECIMAL" />
		<result column="approval_memo" property="approvalMemo" jdbcType="VARCHAR" />
		<result column="approval_month_pay" property="approvalMonthPay" jdbcType="DECIMAL" />
		<result column="approval_person" property="approvalPerson" jdbcType="VARCHAR" />
		<result column="approval_product_cd" property="approvalProductCd" jdbcType="VARCHAR" />
		<result column="approval_term" property="approvalTerm" jdbcType="VARCHAR" />
		<result column="nfcs_id" property="nfcsId" jdbcType="DECIMAL" />
		<result column="rtf_state" property="rtfState" jdbcType="VARCHAR" />
		<result column="rtf_node_state" property="rtfNodeState" jdbcType="VARCHAR" />
		<result column="check_node_state" property="checkNodeState" jdbcType="VARCHAR" />
		<result column="large_group" property="largeGroup" jdbcType="VARCHAR" />
		<result column="current_group" property="currentGroup" jdbcType="VARCHAR" />
		<result column="current_role" property="currentRole" jdbcType="VARCHAR" />
		<result column="asset_type" property="assetType" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, created_by, created_date, last_modified_by,
		last_modified_date, loan_no, approval_all_debt_rate,
		approval_apply_limit, approval_apply_term, approval_check_income,
		approval_debt_tate, approval_limit, approval_memo, approval_month_pay,
		approval_person, approval_product_cd, approval_term, nfcs_id,
		rtf_state,rtf_node_state,check_node_state,large_group,current_group,current_role,asset_type
	</sql>
	<select id="findOne" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from ams_approval_history
		where 1=1
		<include refid="amsConditions" />
		order by created_date desc limit 1
	</select>

	<select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from ams_approval_history
		where 1=1
		<include refid="amsConditions" />
	</select>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from ams_approval_history
		where id = #{id,jdbcType=DECIMAL}
	</select>

	<select id="findByLoanNo" resultMap="BaseResultMap" parameterType="String">
		select
			<include refid="Base_Column_List" />
		from ams_approval_history
		where loan_no = #{loanNo,jdbcType=VARCHAR}
	</select>

	<!-- 查询条件 -->
	<sql id="amsConditions">
		<if test="id != null">
			AND id = #{id,jdbcType=DECIMAL}
		</if>
		<if test="createdBy != null">
			AND created_by = #{createdBy,jdbcType=VARCHAR}
		</if>
		<if test="createdDate != null">
			AND created_date = #{createdDate,jdbcType=TIMESTAMP}
		</if>
		<if test="lastModifiedBy != null">
			AND last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
		</if>
		<if test="lastModifiedDate != null">
			AND last_modified_date =
			#{lastModifiedDate,jdbcType=TIMESTAMP}
		</if>
		<if test="loanNo != null">
			AND loan_no = #{loanNo,jdbcType=VARCHAR}
		</if>
		<if test="approvalAllDebtRate != null">
			AND approval_all_debt_rate =
			#{approvalAllDebtRate,jdbcType=DECIMAL}
		</if>
		<if test="approvalApplyLimit != null">
			AND approval_apply_limit =
			#{approvalApplyLimit,jdbcType=DECIMAL}
		</if>
		<if test="approvalApplyTerm != null">
			AND approval_apply_term =
			#{approvalApplyTerm,jdbcType=VARCHAR}
		</if>
		<if test="approvalCheckIncome != null">
			AND approval_check_income = #{approvalCheckIncome,jdbcType=DECIMAL}
		</if>
		<if test="approvalDebtTate != null">
			AND approval_debt_tate = #{approvalDebtTate,jdbcType=DECIMAL}
		</if>
		<if test="approvalLimit != null">
			AND approval_limit = #{approvalLimit,jdbcType=DECIMAL}
		</if>
		<if test="approvalMemo != null">
			AND approval_memo = #{approvalMemo,jdbcType=VARCHAR}
		</if>
		<if test="approvalMonthPay != null">
			AND approval_month_pay = #{approvalMonthPay,jdbcType=DECIMAL}
		</if>
		<if test="approvalPerson != null">
			AND approval_person = #{approvalPerson,jdbcType=VARCHAR}
		</if>
		<if test="approvalProductCd != null">
			AND approval_product_cd = #{approvalProductCd,jdbcType=VARCHAR}
		</if>
		<if test="approvalTerm != null">
			AND approval_term = #{approvalTerm,jdbcType=VARCHAR}
		</if>
		<if test="nfcsId != null">
			AND nfcs_id = #{nfcsId,jdbcType=DECIMAL}
		</if>
		<if test="rtfState != null">
			AND rtf_state = #{rtfState,jdbcType=VARCHAR}
		</if>
		<if test="rtfNodeState !=null">
			AND rtf_node_state=#{rtfNodeState,jdbcType=VARCHAR}
		</if>
		<if test="checkNodeState !=null">
			AND check_node_state=#{checkNodeState,jdbcType=VARCHAR}
		</if>
		<if test="largeGroup !=null">
			AND large_group=#{largeGroup,jdbcType=VARCHAR}
		</if>
		<if test="currentGroup !=null">
			AND current_group=#{currentGroup,jdbcType=VARCHAR}
		</if>
		<if test="currentRole !=null">
			AND current_role=#{currentRole,jdbcType=VARCHAR}
		</if>
		<if test="assetType != null">
			AND asset_type = #{assetType,jdbcType=VARCHAR}
		</if>
	</sql>

	<delete id="delete" parameterType="java.lang.Long">
		delete from
		ams_approval_history
		where id = #{id,jdbcType=DECIMAL}
	</delete>

	<insert id="save" parameterType="com.yuminsoft.ams.system.domain.approve.ApprovalHistory" useGeneratedKeys="true" keyProperty="id">
		insert into ams_approval_history
		(created_by, created_date, last_modified_by,
		last_modified_date, loan_no, approval_all_debt_rate,
		approval_apply_limit, approval_apply_term,
		approval_check_income, approval_debt_tate,
		approval_limit, approval_memo, approval_month_pay,
		approval_person, approval_product_cd, approval_term,
		nfcs_id, rtf_state,rtf_node_state,check_node_state,
		large_group, current_group,current_role,asset_type)
		values
		(#{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP},
		#{lastModifiedBy,jdbcType=VARCHAR}, #{lastModifiedDate,jdbcType=TIMESTAMP}, #{loanNo,jdbcType=VARCHAR},
		#{approvalAllDebtRate,jdbcType=DECIMAL}, #{approvalApplyLimit,jdbcType=DECIMAL},
		#{approvalApplyTerm,jdbcType=VARCHAR}, #{approvalCheckIncome,jdbcType=DECIMAL}, #{approvalDebtTate,jdbcType=DECIMAL},
		#{approvalLimit,jdbcType=DECIMAL}, #{approvalMemo,jdbcType=VARCHAR},
		#{approvalMonthPay,jdbcType=DECIMAL}, #{approvalPerson,jdbcType=VARCHAR}, #{approvalProductCd,jdbcType=VARCHAR},
		#{approvalTerm,jdbcType=VARCHAR}, #{nfcsId,jdbcType=DECIMAL},
		#{rtfState,jdbcType=VARCHAR},#{rtfNodeState,jdbcType=VARCHAR},#{checkNodeState,jdbcType=VARCHAR},
		#{largeGroup,jdbcType=VARCHAR},#{currentGroup,jdbcType=VARCHAR},#{currentRole,jdbcType=VARCHAR},
		#{assetType,jdbcType=VARCHAR})
	</insert>

	<update id="update" parameterType="com.yuminsoft.ams.system.domain.approve.ApprovalHistory">
		update ams_approval_history
		<set>
			<!-- <if test="createdBy != null">
				created_by = #{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate,jdbcType=TIMESTAMP},
			</if> -->
			<if test="lastModifiedBy != null">
				last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastModifiedDate != null">
				last_modified_date =
				#{lastModifiedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="loanNo != null">
				loan_no = #{loanNo,jdbcType=VARCHAR},
			</if>
			<if test="approvalAllDebtRate != null">
				approval_all_debt_rate =
				#{approvalAllDebtRate,jdbcType=DECIMAL},
			</if>
			<if test="approvalApplyLimit != null">
				approval_apply_limit =
				#{approvalApplyLimit,jdbcType=DECIMAL},
			</if>
			<if test="approvalApplyTerm != null">
				approval_apply_term =
				#{approvalApplyTerm,jdbcType=VARCHAR},
			</if>
			<if test="approvalCheckIncome != null">
				approval_check_income =
				#{approvalCheckIncome,jdbcType=DECIMAL},
			</if>
			<if test="approvalDebtTate != null">
				approval_debt_tate =
				#{approvalDebtTate,jdbcType=DECIMAL},
			</if>
			<if test="approvalLimit != null">
				approval_limit = #{approvalLimit,jdbcType=DECIMAL},
			</if>
			<if test="approvalMemo != null">
				approval_memo = #{approvalMemo,jdbcType=VARCHAR},
			</if>
			<if test="approvalMonthPay != null">
				approval_month_pay =
				#{approvalMonthPay,jdbcType=DECIMAL},
			</if>
			<if test="approvalPerson != null">
				approval_person = #{approvalPerson,jdbcType=VARCHAR},
			</if>
			<if test="approvalProductCd != null">
				approval_product_cd =
				#{approvalProductCd,jdbcType=VARCHAR},
			</if>
			<if test="approvalTerm != null">
				approval_term = #{approvalTerm,jdbcType=VARCHAR},
			</if>
			<if test="nfcsId != null">
				nfcs_id = #{nfcsId,jdbcType=DECIMAL},
			</if>
			<if test="rtfState != null">
				rtf_state = #{rtfState,jdbcType=VARCHAR},
			</if>
			<if test="rtfNodeState !=null">
				rtf_node_state=#{rtfNodeState,jdbcType=VARCHAR},
			</if>
			<if test="checkNodeState !=null">
				check_node_state=#{checkNodeState,jdbcType=VARCHAR},
			</if>
			<if test="largeGroup !=null">
				large_group=#{largeGroup,jdbcType=VARCHAR},
			</if>
			<if test="currentGroup !=null">
				current_group=#{currentGroup,jdbcType=VARCHAR},
			</if>
			<if test="currentRole !=null">
			    current_role=#{currentRole,jdbcType=VARCHAR},
			</if>
			<if test="assetType != null">
				asset_type=#{assetType,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=DECIMAL}
	</update>

	<!-- 根据借款编号查询最新审批意见(用于判断是否填写过审批意见) -->
	<select id="getApprovalHistoryNewByLoanNo" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
			<include refid="Base_Column_List" />
		from ams_approval_history
		where loan_no = #{loanNo,jdbcType=VARCHAR}
		order BY created_date DESC LIMIT 1
	</select>

	<!-- 查询出当前需要复核确认的审批意见 -->
	<select id="findApprovalHistoryByLoanNoAndCheck" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from ams_approval_history
		where check_node_state ='CHECK' and loan_no =
		#{loanNo,jdbcType=VARCHAR}
		and
		approval_person=#{approvalPerson,jdbcType=VARCHAR} order by
		last_modified_date desc LIMIT 1
	</select>

	<!-- 根据借款编号查询最近一次审核人员 -->
	<select id="findApprovalHistoryId" parameterType="java.util.Map" resultType="java.lang.Long">
		select id from ams_approval_history where
		loan_no =
		#{loanNo,jdbcType=VARCHAR} and
		approval_person=#{approvalPerson,jdbcType=VARCHAR} and rtf_node_state is null order BY
		created_date DESC LIMIT 1
	</select>



	<!-- 根据借款编号查询最近一次审批记录 -->
	<select id="findLastApprovalHistoryByLoanNo" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from
		ams_approval_history
		where
		loan_no = #{loanNo,jdbcType=VARCHAR}
		order by created_date desc LIMIT 1
	</select>
	<select id="findForQuality" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from ams_approval_history
		where 1=1
		<include refid="amsConditions" />
		<if test="samplingDate != null">
			AND created_date  <![CDATA[ < ]]> #{samplingDate,jdbcType=TIMESTAMP}
		</if>
			ORDER BY created_date ASC
	</select>
	
	
	<!-- 获取某申请件最后一次初审审批金额 -->
	<select id="findLastFirstApprovalAmount" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT
			approval_limit
		FROM
			ams_approval_history
		WHERE
			loan_no = #{loanNo,jdbcType=VARCHAR}
		AND rtf_state = 'XSCS'
		AND (
			rtf_node_state = 'XSCS-PASS'
			OR rtf_node_state = 'HIGH-PASS'
		)
		ORDER BY
			created_date DESC
		LIMIT 1
	</select>
	
	<!-- 根据id修改总负债率和内部负债率(规则引擎) -->
	<update id="updateResponsibleByLoanNo" parameterType="java.util.Map">
		update ams_approval_history
		<set>
			<if test="approvalAllDebtRate != null">
				approval_all_debt_rate = #{approvalAllDebtRate,jdbcType=DECIMAL},
			</if>
			<if test="approvalDebtTate != null">
			    approval_debt_tate = #{approvalDebtTate,jdbcType=DECIMAL},
			</if>
		</set>
		  where  id = #{id,jdbcType=DECIMAL}
	</update>
	
	
	<!-- 查所有最后一次初审通过操作的申请件的审批意见列表  -->
	<select id="findLastPassedOperateList" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		FROM
			ams_approval_history a
		JOIN
			(
				SELECT
					MAX(id) subId,
					loan_no loanNo
				FROM
					ams_approval_history
				WHERE 1 = 1
				<if test="approvalPerson != null">
					AND approval_person = #{approvalPerson,jdbcType=VARCHAR}
				</if>
				<if test="rtfState != null">
					AND rtf_state = #{rtfState,jdbcType=VARCHAR}
				</if>
				<if test="rtfNodeStateArray != null and rtfNodeStateArray.length > 0">
					AND rtf_node_state IN 
					<foreach collection="rtfNodeStateArray" index="index" item="item" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="loanNos != null and loanNos.size() > 0">
					AND loan_no IN 
					<foreach collection="loanNos" index="index" item="item" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				GROUP BY
					loanNo
			) b ON a.id = b.subId
	</select>

	<select id="findLastApprovalByLoanNo" resultMap="BaseResultMap" parameterType="com.yuminsoft.ams.system.domain.approve.ApprovalHistory">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			ams_approval_history
		WHERE 1=1
			<if test="loanNo != null">
				AND loan_no = #{loanNo,jdbcType=VARCHAR}
			</if>
			<if test="rtfNodeState != null">
				AND rtf_node_state = #{rtfNodeState,jdbcType=VARCHAR}
			</if>
		ORDER BY
			id DESC
		LIMIT 1
	</select>
</mapper>