<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuminsoft.ams.system.dao.system.SystemLogMapper" >
	
   <resultMap id="BaseResultMap" type="com.yuminsoft.ams.system.domain.system.SystemLog">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="OPERATION" property="operation" jdbcType="VARCHAR" />
		<result column="REQUEST_CONTENT" property="requestContent" jdbcType="VARCHAR" />
		<result column="RESPONSE_CONTENT" property="responseContent" jdbcType="VARCHAR" />
		<result column="REQUEST_DATE" property="requestDate" jdbcType="TIMESTAMP" />
		<result column="RESPONSE_DATE" property="responseDate" jdbcType="TIMESTAMP" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="created_by" property="createdBy" jdbcType="VARCHAR" />
	    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="last_modified_by" property="lastModifiedBy" jdbcType="VARCHAR" />
	    <result column="last_modified_date" property="lastModifiedDate" jdbcType="TIMESTAMP" />
	    <result column="ip" property="ip" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List" >
		ID,
    	OPERATION,
    	REQUEST_CONTENT, 
      	RESPONSE_CONTENT,
      	REQUEST_DATE,
      	RESPONSE_DATE,
      	REMARK,
      	CREATED_DATE,
      	LAST_MODIFIED_DATE,
      	CREATED_BY,
      	LAST_MODIFIED_BY,
      	IP
  	</sql>
	
	<insert id="save" parameterType="com.yuminsoft.ams.system.domain.system.SystemLog" useGeneratedKeys="true" keyProperty="id">
    insert into AMS_SYSTEM_LOG (
    	OPERATION,
    	REQUEST_CONTENT, 
      	RESPONSE_CONTENT,
      	REQUEST_DATE,
      	RESPONSE_DATE,
      	REMARK,
      	CREATED_DATE,
      	LAST_MODIFIED_DATE,
      	CREATED_BY,
      	LAST_MODIFIED_BY,
      	IP
      )
    values (
    	#{operation,jdbcType=VARCHAR},
    	#{requestContent,jdbcType=CLOB}, 
     	#{responseContent,jdbcType=CLOB}, 
     	#{requestDate,jdbcType=TIMESTAMP}, 
     	#{responseDate,jdbcType=TIMESTAMP}, 
      	#{remark,jdbcType=VARCHAR},
      	#{createdDate,jdbcType=TIMESTAMP},
      	#{lastModifiedDate,jdbcType=TIMESTAMP},
      	#{createdBy,jdbcType=VARCHAR},
      	#{lastModifiedBy,jdbcType=VARCHAR},
      	#{ip,jdbcType=VARCHAR}
      )
  </insert>
  <select id="findOne" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from AMS_SYSTEM_LOG
    where 1=1
    <include refid="amsConditions" />
  </select>
  
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from AMS_SYSTEM_LOG
    where 1=1
    <include refid="amsConditions" />
  </select>
	
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from AMS_SYSTEM_LOG
		where ID = #{id,jdbcType=DECIMAL}
	</select>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from AMS_SYSTEM_LOG
		where ID = #{id,jdbcType=DECIMAL}
	</delete>
	
  <sql id="amsConditions">
		<if test="id != null">
		    AND ID= #{id}
		</if>
		<if test="operation != null">
			AND operation = #{operation,jdbcType=VARCHAR}
		</if>
		<if test="requestContent != null">
			AND REQUEST_CONTENT = #{requestContent,jdbcType=CLOB}  
		</if>
		<if test="responseContent != null">
			AND RESPONSE_CONTENT = #{responseContent,jdbcType=CLOB}
		</if>
		<if test="responseDate != null">
			AND REQUEST_DATE = #{requestDate,jdbcType=TIMESTAMP} 
		</if>
		<if test="responseDate != null">
			AND RESPONSE_DATE = #{responseDate,jdbcType=TIMESTAMP}
		</if>
		<if test="ip != null">
			AND IP = #{ip,jdbcType=TIMESTAMP}
		</if>
		<if test="remark != null">
			AND REMARK = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="createdBy != null" >
	        AND created_by = #{createdBy,jdbcType=VARCHAR}
	    </if>
	    <if test="createdDate != null" >
	        AND created_date = #{createdDate,jdbcType=TIMESTAMP}
	    </if>
	    <if test="lastModifiedBy != null" >
	        AND last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
	    </if>
	    <if test="lastModifiedDate != null" >
	        AND last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
	    </if>
	</sql>
  
</mapper>


