<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!--覆盖uflo默认的配置属性-->
	<!--<bean id="propertyConfigurer" parent="uflo.props">
		<property name="location">
			<value>classpath:conf/uflo.properties</value>
		</property>
	</bean> -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.bstek.uflo.model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.jdbc.batch_size">100</prop>
				<!-- <prop key="current_session_context_class">thread</prop> -->
				<!-- <prop key="hiberante.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop> -->
			</props>
		</property>
	</bean> 
	
	
  <!-- 声明式事务管理 -->
<!--   <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"> -->
<!--   	<property name="sessionFactory" ref="sessionFactory"/> -->
<!--   </bean> -->

<!--  <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
<!--	 <property name="dataSource" ref="dataSource"></property>-->
<!--  </bean>-->
  
 
</beans>