<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuminsoft.ams.system.dao.quality.QualityRegularInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yuminsoft.ams.system.domain.quality.QualityRegularInfo" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="last_modified_by" property="lastModifiedBy" jdbcType="VARCHAR" />
    <result column="last_modified_date" property="lastModifiedDate" jdbcType="TIMESTAMP" />
    <result column="checked_user" property="checkedUser" jdbcType="VARCHAR" />
    <result column="checked_user_name" property="checkedUserName" jdbcType="VARCHAR" />
    <result column="if_regular" property="ifRegular" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, created_by, created_date, last_modified_by, last_modified_date, checked_user,checked_user_name,if_regular
  </sql>
  
  <select id="findOne" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from ams_quality_regular_info
    where 1=1
     <if test="ifDelete !=null">
    	AND if_regular !=#{ifDelete,jdbcType=VARCHAR}
    </if>
    <include refid="amsConditions" />
  </select>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from ams_quality_regular_info
    where id = #{id,jdbcType=DECIMAL}
  </select>
  
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from ams_quality_regular_info
    where 1=1
    <if test="ifDelete !=null">
    	AND if_regular !=#{ifDelete,jdbcType=VARCHAR}
    </if>
    <include refid="amsConditions" />
  </select>
  
  <select id="findUserId" resultType="java.lang.String" parameterType="java.util.Map" >
    select
    checked_user
    from ams_quality_regular_info
    where 1=1
    <include refid="amsConditions" />
  </select>
  
  <!-- 查询条件 -->
  <sql id="amsConditions">
      <if test="id != null" >
        AND id = #{id,jdbcType=DECIMAL}
      </if>
      <if test="createdBy != null" >
        AND created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="lastModifiedBy != null" >
        AND last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastModifiedDate != null" >
        AND last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
      </if>
      <if test="checkedUser != null" >
        AND checked_user = #{checkedUser,jdbcType=VARCHAR}
      </if>
      <if test="checkedUserName != null" >
        AND checked_user_name = #{checkedUserName,jdbcType=VARCHAR}
      </if>
      <if test="ifRegular != null" >
        AND if_regular = #{ifRegular,jdbcType=VARCHAR}
      </if>
   </sql>
  
  <delete id="delete" parameterType="java.lang.Long" >
    update ams_quality_regular_info set if_regular='2'
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  
  <delete id="deleteBatch" parameterType="java.lang.String" >
    update ams_quality_regular_info set if_regular='2'
    where id in
    <foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
   	 	#{item}  
  	</foreach> 
  </delete>
  
  <insert id="save" parameterType="com.yuminsoft.ams.system.domain.quality.QualityRegularInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into ams_quality_regular_info (created_by, created_date, last_modified_by, 
      last_modified_date, checked_user,checked_user_name, if_regular)
    values (#{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{lastModifiedBy,jdbcType=VARCHAR}, 
      #{lastModifiedDate,jdbcType=TIMESTAMP}, #{checkedUser,jdbcType=VARCHAR}, #{checkedUserName,jdbcType=VARCHAR}, #{ifRegular,jdbcType=VARCHAR})
  </insert>
</mapper>